doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' href='/images/library_books_3.svg' type='image/gif')
  body
    block content
    div.bookstacks
      img(src='/static/images/library_books.svg' alt='picture of books' class="bookpic")
      img(src='/static/images/library_books_2.svg' alt='picture of books' class="bookpic")
      img(src='/static/images/library_books_3.svg' alt='picture of books' class="bookpic")
  