doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
      img(src='/static/images/library_books_3.png' alt='picture of books' class="bookpic")
    